<!DOCTYPE html>
<html>
  <head>
    <title>Ventanilla - Backend</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul id="blockStorage">
      <li class="LD35 sensor" data-type="Sensor" data-name="LD35" data-system="arduino" >LD35</li>
      <li class="UI interface" data-type="Ui" data-name="Ui" data-system="nodeJs" data-port="/dev/ttyACM0">UI</li>
      <li class="arduino interface" data-type="ArduinoUno" data-name="ArduinoUno" data-system="arduino">Arduino Uno Board</li>
    </ul>
    <button onclick="initLines();">Init Draw</button><button onclick="repaint()">Redraw</button><button onclick="deleteAll()">Delete All</button>
<hr/>
    <div id="sketch">
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="/jquery.jsPlumb-1.5.5-min.js"></script>
    <script src="/Theme/blockBackend.js"></script>
    <script src="/ventanillaObjects.js"></script>
    <script src="/logicBackend.js"></script>
  </body>
</html>
