<!DOCTYPE html>
<html>
  <head>
    <title>Ventanilla - Backend</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul id="blockStorage">
      <li class="LD35 sensor" data-type="Sensor" data-name="LD35" data-system="arduino" data-unique="false">LD35</li>
      <li class="UI interface" data-type="Ui" data-name="Ui" data-system="nodeJs" data-unique="false">UI</li>
      <li class="arduino interface" data-type="ArduinoUno" data-name="ArduinoUno" data-system="arduino" data-port="/dev/ttyACM0" data-unique="true">Arduino Uno Board 1</li>
      <li class="arduino interface" data-type="ArduinoUno" data-name="ArduinoUno" data-system="arduino" data-port="/dev/ttyACM1" data-unique="true">Arduino Uno Board 2</li>
    </ul>
    <button onclick="initLines();">Init Draw</button><button onclick="repaint()">Redraw</button><button onclick="deleteAll()">Delete All</button>
<hr/>
    <div id="sketch">
    </div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="/jquery.jsPlumb-1.5.5-min.js"></script>
    <script src="/lines.js"></script>
    <script src="/Theme/blockTemplates.js"></script>
    <script src="/ventanillaObjects.js"></script>
    <script src="/logicBackend.js"></script>
  </body>
</html>
