<!DOCTYPE html>
<html>
  <head>
    <title>Ventanilla - Frontend</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%=title%>
    <button onclick="registerSensor(0,1,'LD35','A1')">Register</button>
    <div id="display">
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    // Ventanilla Script
     var io =  io.connect();;

    //init UI
    $(document).ready(function(){
      io.emit('block');
      initVentanilla();
    });

  function initVentanilla(){
    registerSensor(0,0,'LD35','A0')
  }

function registerSensor(boardId,uid,type,pin,freq){
  createSensor(boardId,uid,type,pin,freq,function(){
    subscribeToBlock(uid);
    return $('#display').append(square('Temperature','uid'+uid));
  });
}
function subscribeToBlock(uid){
  log("Subscribe to socket "+uid);
  io.on('uid'+uid, function(data) {
    log(uid);
    $('.data.uid'+uid).html(data.celsius);
  });
}
function createSensor(boardId,uid,type,pin,freq,cb){
  log("Create Sensor "+uid);
  var sensor = new Sensor(uid,type,pin,freq);
  var interface = new Interface(boardId,"arduino");
  $.post('/registerSensor',{sensor:sensor,interface:interface},function(err){
    if(err){
      log(err);
    }else{
      log("Created Sensor "+uid);
      return cb();
    }
  });
}


function log(msg){
  if(console!=undefined){
    console.log(msg);
  }
}

/* Itemtemplates: 
*  .square => square duh
*  .skyscraper => height = 2 * width
*  .bar => 2 * height = width
*  over uid the value is set
*/
var square = function(title,uid){return "<div class=\"item square\"><div class=\"title\">"+title+"</div><div class=\"data "+uid+"\">no values</div></div>";}

var Sensor = function(uid,type,pin,freq){
  this.uid = uid;
  this.type = type;
  this.pin = pin;
  this.freq = freq;
}
var Interface = function(uid,type){
  this.uid = uid;
  this.type = type;
}

/* Template for blocks:
*  input: data: gets rendered as html
*/
var type = {};
type.LD35 = function(data){
  return "<div class=\"celsius\">"+data.celsius+"</div><div class=\"voltage\">"+data.voltage+"</div>"
}
    </script>
  </body>
</html>
