/*Styles for whole application*/
body {
  padding: 0;
  margin:0;
  height:1080px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*styles for backend*/
#sketch{width:100%;height:98%;background:#fffcf7;overflow:hidden;position:relative;top:0px;left:0px}

#availableBlocks{
  position:absolute;
  top:0;
  left:0;
  display:none;
  z-index: 999;
  width: 100%;
  height:auto;
  background:#77d1ff;
}
.toogleAvailableBlocks{
  position:relative;
  bottom:0;
  left:50%;
  width:200px;
  margin-left:-100px;
  cursor: pointer;
  text-align: center;
  background:#77d1ff;
}

.pin{
  height:15px;
  width:15px;
  background: blue;
}


.box{
  background: -webkit-gradient( linear, left top, left bottom, from(#ffffff), color-stop(0.50, #ffffff), to(#b5b5b5));
border: 0px solid #ffffff;
-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 3px rgba(255,255,255,1);
-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 3px rgba(255,255,255,1);
box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 3px rgba(255,255,255,1);
text-shadow: 0px -1px 0px rgba(000,000,000,0.2), 0px 1px 0px rgba(255,255,255,1);
}



/*styles for blocks*/
.ep {
    float: left;
 	width:40px;
	height:20px;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
    padding:10px;
    margin-top: 10px
}
.output{
  position: absolute;
  right:20px;
  top:50px;
  width:60px;
  height:60px
}
.block{
  width:200px;height:200px;background:#ff5500;position:absolute;z-index:10
}

.blockBody{
  position:relative;

}

.blockBody .blockName{
  position:relative;
  top:0;
  left:0;
  text-align: center;
  width: 200px;
  font-size: 2em;
}
.pinList li{
  list-style: none;
  display: block;
}

.pinList{

}
.pinList{

}

.pinList.input{
  position:relative;
  top:0;
  left:-35px;
  height:135px;
}
.pinList.output{
  position:relative;
  top:-150px;
  left:75px;
  height:135px;
}
.pinList li{
  width:80px;
}
.pinList li span{
  width:65px;
}
.pinList.input li span{
  display: block;
  float:right;
}
.pinList.output li span{
  display: block;
  float:left;
}
.pinList.input .pin{
  float:left;
}

.pinList.output .pin{
  float: right;
}


/*Frontend*/
#display .item.square{
  background: #ff5500;
  width: 200px;
  height: 200px;
  float:left;
  margin: 5px;
}
#display .title{
  text-align: center;
  font-size: 2em;
  color: black;
}
#display .pinName, #display .data{
  float:left;
}

/*js Plumb*/
._jsPlumb_endpoint, svg{
  z-index: 100;
}
