.ep {
    float: left;
 	width:40px;
	height:20px;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
    padding:10px;
    margin-top: 10px
}
.output{
  position: absolute;
  right:20px;
  top:50px;
  width:60px;
  height:60px
}
.block{
  width:200px;height:200px;background:orange;position:absolute;z-index:10
}
